# Hello! My name is Katya
## Wow
### I have a **cats**

In [1]:
print(2+2)

4

int => integer, whole number

float => floating point data type, decimal numbers

string => text

booleans => true/false

In [2]:
5 + 6

11

In [4]:
2.5 * 3.

7.5

In [5]:
5 / 2

2.5

In [7]:
10 //3 #floor division operator

3

In [8]:
10 % 3 #modulo or reminder

1

In [9]:
10 ** 3 # exponentiation

1000

In [ ]:
True

In [10]:
50 > 25

True

In [11]:
50 < 25

False

In [12]:
degree_celsium = 25

In [3]:
#inbuild function
print (42)
print(2024)

42
2024

In [5]:
type("42.4")

str

In [8]:
def c_to_f (degrees_c):
    degrees_f = (9/5) * degrees_c + 32
    return degrees_f

c_to_f (100)

212.0

In [12]:
def divide (dividend, divisor):
    return dividend / divisor

divide (10, 2)

5.0

In [14]:
def calc_sales_tax(price, tax_rate=0.13):
    return price * tax_rate

calc_sales_tax(5)

0.65

In [15]:
calc_sales_tax (5, 0.08)

0.4

In [16]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax = price * tax_rate
    tip = price * tip_rate
    return price + tax + tip

calc_total_bill (100)

128.0

In [17]:
def c_to_f(degrees_c):
    '''conv from degrees Celsius to degree Ferh'''
    degrees_f = (9/5) * degrees_c + 32
    return degrees_f

In [19]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    conv from degrees Celsius to degree Ferh

In [20]:
# function name and parameters ---> function header
# docstring => briefly describes what the function does
# bode => code that runs when a fucntion is called
# return statment => specifies what the output of the function should be if no return steatment it will
# return None

#Variable Scope

#parameters are locally scoped variable => variable can be accessed within function

In [21]:
#test-driven development (TDD)
#tests are written before that actual code implementation
#developers create failing tests that describe the desired behaviour of the code
# write code to make the tests pass

# checking-driven development
# focuses on writing checks or assertions after the code os implemented to verify its correctness
# checks are written based on the code's behaviour and reqirement

In [22]:
def is_even_number(number):
    return number % 2 == 0

In [23]:
is_even_number(9)

False

In [24]:
#assertion
# assert is built-in keyword

In [31]:
def is_even_number(number):
    return number % 2 == 1

assert is_even_number(23434234233)

In [29]:
#purpose

#help catch logical error, assumptions, unexpected conditions
# serves as sanity check to ensure that certain conditions are met throughout program execution

In [30]:
'This is a string'

'This is a string'

In [2]:
#Tuples - build in data type
# collection of values
# tuples are immutable => they cannot be changed once they are created.


mutable_synonyms = ("changeable", "variable", "incostand")
mutable_synonyms

('changeable', 'variable', 'incostand')

In [3]:
empty = () #convention to create  empty tuples
type(empty)

tuple

In [4]:
empty.append("hi")

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
len(mutable_synonyms)

3

In [7]:
sorted(mutable_synonyms)

['changeable', 'incostand', 'variable']

In [10]:
mutable_synonyms + ('shifting', 'one more')

('changeable', 'variable', 'incostand', 'shifting', 'one more')

In [11]:
mutable_synonyms

('changeable', 'variable', 'incostand')

In [15]:
#sets 
#mutable
# unordered and distinct = unorder mean not in the order tht you provide


things = {"coat", "lock", "box", "book", "apple"}
things

{'apple', 'book', 'box', 'coat', 'lock'}

In [17]:
visitor_post_code = ['MSR', 'M5V', 'M1M', 'M1T']
set(visitor_post_code) #create an order and remove duplicates

{'M1M', 'M1T', 'M5V', 'MSR'}

In [18]:
#create an empty set
empty_set = set ()

In [20]:
things

{'apple', 'book', 'box', 'coat', 'lock'}

In [23]:
"lock" in things #checking for membership

True

In [24]:
things.add("classmethod")

In [25]:
things

{'apple', 'book', 'box', 'classmethod', 'coat', 'lock'}

In [26]:
things.remove("book")

In [27]:
things

{'apple', 'box', 'classmethod', 'coat', 'lock'}

In [28]:
#union => combine 2 sets to get the unique values in botj
#intersection => the value 2 sets have in common
#symmetric difference => find the values that are only in one of the 2 sets
#difference => find the values in the first set that are in the second set

rainbow = {"red", "white", "blue", "orange", "black", "pink"}
olympic_flag = {"red", "green", "yello", "blue", "black", "pink"}

In [29]:
rainbow.difference(olympic_flag)

{'orange', 'white'}

In [30]:
rainbow.symmetric_difference(olympic_flag)

{'green', 'orange', 'white', 'yello'}

In [31]:
rainbow.intersection(olympic_flag)

{'black', 'blue', 'pink', 'red'}

In [32]:
rainbow.union(olympic_flag)

{'black', 'blue', 'green', 'orange', 'pink', 'red', 'white', 'yello'}

In [33]:
#Dictionaries

#key: value pairs
#ordered and mutable
#every key in a dictionary is unique
#keys can be any immutable data type (strings, numbers, booleans, tuples)
# values can be any data type

capitals = {
    'Canada': 'Ottawa',
    'US': 'Washington D.C',
    'Mexico': 'Mexico City'
}

In [35]:
olympic_cities = {2020: 'Tokyo',
                  2016: 'RIO',
                  2012: 'London'}
olympic_cities

{2020: 'Tokyo', 2016: 'RIO', 2012: 'London'}

In [36]:
all_olympics_host = {'summer': olympic_cities,
                     'winter': {2022: 'Beijing', 2018: 'Kiev'}
                     }
all_olympics_host

{'summer': {2020: 'Tokyo', 2016: 'RIO', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Kiev'}}

In [38]:
empty_dictionary = {} #convetion
type(empty_dictionary)

dict

In [39]:
olympic_cities

{2020: 'Tokyo', 2016: 'RIO', 2012: 'London'}

In [41]:
olympic_cities[2012]

'London'

In [42]:
# for loops
#runs an independent block of code for every item on an iterable
#(e.g. lists, tuples, sets, strings)

#specify a variable name to refer to individual items by

vowels = ['a', 'e', 'i', 'o', 'u']

for i in vowels:
    print(i)

a
e
i
o
u

In [43]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [44]:
input_files = ['data_01.cvs', 'data_02.cvs','data_03.cvs','data_04.cvs']
output_files = []

for i in input_files:
    output_file_name = 'proccessed_' + i.replace('.csv', '.xlsx')
    output_files.append(output_file_name)
    print(output_files)

['proccessed_data_01.cvs']
['proccessed_data_01.cvs', 'proccessed_data_02.cvs']
['proccessed_data_01.cvs', 'proccessed_data_02.cvs', 'proccessed_data_03.cvs']
['proccessed_data_01.cvs', 'proccessed_data_02.cvs', 'proccessed_data_03.cvs', 'proccessed_data_04.cvs']

In [47]:
# while loop
countdown = 4

while countdown > 0:

    print(countdown)
    countdown -=1 #countdown = countdown -1

4
3
2
1

In [ ]:
countdown = 4

while countdown > 0:

    print(countdown)
    countdown -=1

In [49]:
# break statment interrupts the execution of a loop
countdown = 4

while countdown > 0:
    print (countdown)
    if countdown == 3:
        print("We are breaking the loop early")
        break
    countdown -=1

print("Done iterating")

4
3
We are breaking the loop early
Done iterating

In [ ]:
# continue statment
#leave the current iteration fo the loop and start back up at the top

In [ ]:
import os

os.getcwd()

In [ ]:
os.listdir()

In [ ]:
import numpy as np